*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: white;
	font-family: Poppins;
	user-select: none;
}

body{
	background: white;
	background-image: url(./images/fundo.jpg);
	background-size: cover;
}
 
/* N A V B A R */

.navbar{
	position: fixed;
	bottom: 0;
	height: 111px;
	width: 100vw;
	background-color: #222;
	border-top: 2px solid white;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.navbar-pagin{
	height: 90px;
	width: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.navbar-pagin ion-icon{
	height: 55px;
	width: 55px;
}

#navbar-icon-music{
	margin-right: 5px;
}

.navbar-pagin p{
	font-size: 18px;
}

/* F I M  N A V B A R */

/* H1 INICIAL */

.main-inicial{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	width: 100vw;
	text-align: center;
}


.content-inicial h1{
	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 8px white;
	box-shadow: 0 0 8px white;
	border: 3.5px solid white;
	border-radius: 15px;
	padding: 12px 12px;
	font-size: 26px;
}

.content-inicial h2{
	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 8px white;
	font-size: 20px;
	margin-top: 20px;
}

/* FIM  DO H1 INICIAL */

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 330vh;
	width: 100vw;
}

.container h1{
	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 5px white;
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: -10px;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	background-color: #222;
	box-shadow: 0 0 5px white;
	height: 375px;
	width: 300px;
	border-radius: 15px;
}

.content img{
	margin-top: 30px;
	height: 245px;
	width: 230px;
	border-radius: 15px;
	border: 2px solid white;
}

.content audio{
	margin-top: 25px;
	width: 222px;
}

/* G E N E R O S */

.main-generos{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #222;
	border-top: 3px solid white;
}

.main-generos h1{
	margin-top: 50px;
	font-size: 24px;
	color: white;
	text-shadow: 0 0 10px white;
	text-transform: uppercase;
	margin-bottom: 60px;
}

.content-generos{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.content-generos a{
	font-size: 24px;
	text-transform: uppercase;
	text-shadow: 0 0 10px white;
	color: white;
	padding: 20px 0;
	width: 100vw;
	border-bottom: 3px solid white;
	box-shadow: 0 0 10px white;
	transition: all 150ms ease-in;
}

.content-generos a:hover{
	color: #222;
	text-shadow: 0 0 10px #222;
	background-color: white;
	box-shadow: 0 0 5px #222;
}

#content-generos-one{
	border-top: 3px solid white;
}

/*  T I K T O K  */

.main-tiktok{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 220vh;
	width: 100vw;
}

.main-tiktok h1{
	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 5px white;
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: -10px;
}

/* */

.main-settings{
	display: flex;
	flex-direction: column;
	height: 90vh;
	width: 100vw;
}

.content-settings{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}